
body {
  background-color: black;
  font-family: arial, sans-serif;
  font-size: 18px;
  line-height; 1.5em;
  color:white;
  margin 2em;
}
header {
    background-color:grey;
    font-size: 18px;
    font-family: georgia, serif;
    color:white;
    text-transform; uppercase;
    text-align:center;
    padding:5px;	 
}
h1 {font-weight: normal;
    text-decoration: underline;
}
nav {
    font-family: serif;
    line-height:2.5em;
    background-color:#2E8B57;
    text-decoration: underline;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:black;
    text-decoration: underline;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}